@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: serif;
  --font-playful: 'Pacifico', cursive;
  --title-size-dark: 3rem;
  --title-weight-dark: 700;
  --title-size-light: 1.875rem;
  --title-weight-light: 500;
  --subtitle-size-dark: 1.3rem;
  --subtitle-weight-dark: 600;
  --subtitle-size-light: 1rem;
  --subtitle-weight-light: 400;

  --color-forest-50: #e6f4ea;
  --color-forest-100: #cce9d5;
  --color-forest-200: #99d3ab;
  --color-forest-300: #66bb6a;
  --color-forest-400: #4caf50;
  --color-forest-500: #388e3c;
  --color-forest-600: #2e7d32;
  --color-forest-700: #27642a;
  --color-forest-800: #1f4a21;
  --color-forest-900: #183219;
  --color-forest-950: #0d1a0d;
}

.theme-light {
  --bg: white;
  --text: black;
  --header-bg: white;
  --logo-colour: rgba(0, 0, 0, 0.7);
  --main-bg: white;
  --light-text: rgba(0, 0, 0, 0.8);
  --list-border-color: #cad5e2;
  --title-size: var(--title-size-light);
  --title-weight: var(--title-weight-light);
  --subtitle-size: var(--subtitle-size-light);
  --subtitle-weight: var(--subtitle-weight-light);
  --skeleton-bg: #f3f4f6;
  --dropdown-text-color: rgba(0, 0, 0, 0.8);
  --dropdown-text-hover: #f1f5f9 ;
  --card-display: flex;
  --btn-border: #cad5e2;
  --btn-bg: white;
}

.theme-dark {
  --bg: black;
  --font-display: var(--font-serif);
  --text: white;
  --header-bg: rgba(0, 0, 0, 0.8);
  --blur: 2px;
  --btn-bg: white;
  --logo-colour: white;
  --main-bg: rgba(0, 0, 0, 0.9);
  --title-color: white;
  --title-size: 2rem;
  --title-weight: 600;
  --light-text: rgba(255, 255, 255, 0.8);
  --list-border-color: transparent;
  --title-size: var(--title-size-dark);
  --title-weight: var(--title-weight-dark);
  --subtitle-size: var(--subtitle-size-dark);
  --subtitle-weight: var(--subtitle-weight-dark);
  --card-bg: #252627;
  --card-display: flex;
  --card-radius: 0.5rem;
  --img-radius: 0.2rem;
  --skeleton-bg: #1f1f1f;
  --listing-text-size: 1.1rem;
  --dropdown-text-color: rgba(0, 0, 0, 0.8);
  --dropdown-text-hover: rgba(0, 0, 0, 0.8);
}

.theme-forest {
  --bg: var(--color-forest-700);
  --main-bg: #112411;
  --text: var(--color-forest-300);
  --font-display: var(--font-playful);
  --header-bg: var(--color-forest-900);
  --btn-bg: var(--color-forest-700);
  --btn-text-color: rgba(255, 255, 255, 0.8);
  --btn-border: transparent;
  --card-bg: #0f170f;
  --card-radius: 1rem;
  --logo-colour: rgba(255, 255, 255, 0.8);
  --light-text: rgba(255, 255, 255, 0.8);
  --img-radius: 0.5rem;
  --title-color: white;
  --title-size: 2.5rem;
  --title-weight: 400;
  --light-text: var(--color-forest-200);
  --list-border-color: transparent;
  --skeleton-bg: var(--color-forest-900);
  --subtitle-size: 1.2rem;
  --dropdown-text-color: var(--color-forest-600);
  --dropdown-text-hover: var(--color-forest-100);
}

* {
  transition-property: color, background-color, border-color, font-size, font-weight;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}
